<h1>vimチートシート</h1>
<div id="add-group" title="新規グループを追加します">
  <a href="#">New</a>
</div>
<div class="column">
<%= render partial: 'group', collection: @groups %>
</div>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div id="delete-group-msg"　title="グループを削除します">
削除します。
</div>
<div id="delete-keymapping-msg"　title="キーマッピングを削除します">
削除します。
</div>