  <div class="dragbox" id="group-<%= group.id %>">
    <div class="group">
      <h2>
        <div class="viewer"><%= group.name %></div>
        <div class="editor"><input type="text" value="<%= group.name %>" /></div>
      </h2>
      <span class="delete-group ui-corner-all ui-icon ui-icon-close"></span>
    </div>
    <div class="key-mapping">
      <table>
        <%= render partial: 'shared/key_mapping', collection: group.key_mappings %>
      </table>
    </div>
    <div class="add-key-mapping" title="新規キーマッピングを追加します"></div>
  </div>
