// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ------------------------------
 Basic
------------------------------ */
body {
  margin: 10px;
  font-size: 12px;
  line-height: 1.4em;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

/* ------------------------------
 Action
------------------------------ */
#add-group {
  position: absolute;
  top: 0px;
  left: 0px;

  a {
    text-decoration: none;
    display: block;
    padding: 25px 20px 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.85);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.65);
    margin: -5px 300px;
    color: black;
    width: 1em;
    background: #B7B7B7;
  }
}

.add-key-mapping {
  cursor: pointer;
  width: 100%;
  height: 10px;
}

/* ------------------------------
 Group
------------------------------ */
.group {
  background: #f0f0f0;
  position:relative;
  
  h2 {
    color: #271870;
    font-weight: bold;
    font-size: 1.1em;
    height: 1.1em;
    width: 80%;
    margin-bottom:5px;
    padding:5px;
    cursor:move;

  }

  span.delete-group {
    border: 1px solid #AAA;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
  }
}

/* ------------------------------
 Key Mapping
------------------------------ */
.key-mapping {
  
  table {
    width: 100%;
    tr {
      height: 22px;

      td {
        word-break: break-word;
        word-wrap: break-word;
      }
      
      td.key {
        width: 40%;
        padding-left: 10px;
      }

      td.content {
        width: 53%;
      }

      td.delete-keymapping {
        width: 7%;
        cursor: default;
      }
      td.delete-keymapping span {
        display: none;
      }
    }
    tr.nodata {
      background-color: #F4F5E7;
    }

  }
  .key .editor input{
    width: 7em;
  }
  .content .editor input{
    width: 10em;
  }
}

/* ------------------------------
 Drag and Drop
------------------------------ */
.column{
  width:300px;
  margin-right:.5%;
  min-height:300px;
  background:#fff;
  float:left;

  .dragbox{
    margin:5px 2px 20px 0;
    background:#fff;
    position:relative;
    border:1px solid #ddd;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }

  .placeholder{
    background: #f0f0f0;
    border:1px dashed #ddd;
  }
}


/* ------------------------------
 None display elements on defalt
------------------------------ */
.editor{
  display: none;
}

#delete-group-msg,
#delete-keymapping-msg {
  display: none;
}